body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar-default {
background-color: #FF6889;
}